HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=strapi-db
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=qc3RWRmNTK
DATABASE_SSL=false
JWT_SECRET=tobemodified
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=hello@example.com
SMTP_PASSWORD=123456